@import "~bootstrap/scss/bootstrap";

.center-align-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.running {
    @extend .text-primary;
}

.x_won {
    @extend .text-success;
}

.o_won {
    @extend .text-danger;
}

.draw {
    @extend .text-warning;
}
